@layer webScss {
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        width: 390px;
        margin: auto;
    }

    body {
        margin: 0;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    detail,
    menu,
    nav,
    section,
    summary {
        display: block;
    }

    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline;
    }

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    [hidden],
    template {
        display: none;
    }

    a {
        background-color: transparent;
    }

    a:active,
    a:hover {
        outline: 0;
    }

    b,
    strong {
        font-weight: bold;
    }

    dfn {
        font-style: italic;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    mark {
        background: #ff0;
        color: #000;
    }

    small {
        font-size: 80%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    img {
        border: 0;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    figure {
        margin: 1em 40px;
    }

    hr {
        box-sizing: content-box;
        height: 0;
    }

    pre {
        overflow: auto;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    button,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }

    button {
        overflow: visible;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    html input[type=button],
    input[type=reset],
    input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    /* input {
        line-height: normal;
    } */

    input[type=checkbox],
    input[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        height: auto;
    }

    /* input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }

    input[type=search]::-webkit-search-cancel-button,
    input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
    } */

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    legend {
        border: 0;
        padding: 0;
    }

    textarea {
        overflow: auto;
    }

    optgroup {
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td,
    th {
        padding: 0;
    }

    *[class^=notice] {
        padding: 0.4em 2.5em;
        display: block;
        width: 100%;
        font-size: 0.938em;
        margin: 0.2em 0;
        position: relative;
        color: #666;
        position: relative;
        box-sizing: border-box;
        border-radius: 4px;
        border: none;
    }

    *[class^=notice]:before {
        position: absolute;
        top: 0.7em;
        left: 0.8em;
        display: block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        content: "";
    }

    *[class^=notice]:before img {
        width: 100%;
    }

    *[class^=notice] a.close {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0.8em;
        right: 1em;
        display: block;
        opacity: 0.5;
    }

    *[class^=notice] a.close:hover,
    *[class^=notice] a.close:focus-visible {
        opacity: 1;
    }

    *[class^=notice] a.close img {
        display: block;
        width: 12px;
        height: 12px;
        margin: 0;
    }

    *[class*=noticeInfo] {
        color: #00529b;
        background-color: #ceecfa;
    }

    *[class*=noticeInfo]:before {
        background: url(../images/basic/icon_info.svg) no-repeat center center;
        background-size: 15px;
    }

    *[class*=noticeSuccess] {
        color: #3b7600;
        background-color: #dff2bf;
    }

    *[class*=noticeSuccess]:before {
        background: url(../images/basic/icon_success.svg) no-repeat center center;
        background-size: 15px;
    }

    *[class*=noticeWarning] {
        color: #c23e00;
        background-color: #feefb3;
    }

    *[class*=noticeWarning]:before {
        background: url(../images/basic/icon_warning.svg) no-repeat center center;
        background-size: 15px;
    }

    *[class*=noticeError] {
        color: #c40000;
        background-color: #ffd2d2;
    }

    *[class*=noticeError]:before {
        background: url(../images/basic/icon_error.svg) no-repeat center center;
        background-size: 15px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #383838;
        color: #fff;
    }

    .container {
        max-width: 1440px;
        margin: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    a {
        color: #F4EA5A;
        text-decoration: none;
    }

    p {
        line-height: 1.6;
    }

    hr {
        margin: 2em 0;
        opacity: 0.2;
    }

    .mainTitle {
        text-align: center;
        margin: 2em 0;
    }

    .mainTitle h2 {
        color: #F4EA5A;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    .mainTitle p {
        margin: 1em 0;
        letter-spacing: 1px;
    }

    .btnGrp {
        text-align: center;
        padding: 1.75em 0;
    }

    .btn {
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 32px;
        min-width: -moz-fit-content;
        min-width: fit-content;
        border-radius: 6px;
        margin: auto 3px;
        background: none;
        transition: 0.3s;
    }

    .btn:hover,
    .btn:focus-visible {
        background: #F4EA5A;
        color: #222;
        border-color: #F4EA5A;
    }

    .btn.submit {
        background: #F4EA5A;
        color: #222;
        padding: 16px 52px;
        border: none;
    }

    .btn.submit:hover,
    .btn.submit:focus-visible {
        background: #c2b60d;
        color: #000;
    }

    .btn.normal {
        background: #434343;
    }

    .btn.normal:hover,
    .btn.normal:focus-visible {
        color: #F4EA5A;
        background: transparent;
    }

    .btn.filter {
        border: none;
        padding: 0;
        font-size: 0;
        width: 52px;
        height: 52px;
        background: url(../images/logo.png) left top no-repeat;
        background-size: cover;
        transition: 0s;
    }

    .btn.filter:hover,
    .btn.filter:focus-visible {
        background-position: left bottom;
    }

    form {
        max-width: 800px;
        margin: auto;
    }

    form input,
    form select {
        width: 100%;
        margin: 6px 0;
    }

    form .formGrp {
        margin: 10px 0;
    }

    form .formGrp .title {
        display: block;
        margin-top: 10px;
        padding-left: 20px;
    }

    form .formGrp .content {
        display: flex;
        flex-wrap: nowrap;
    }

    form .formGrp .content input+.btn {
        margin-left: 10px;
    }

    input {
        background: none;
        width: 100%;
    }

    input:hover,
    input:focus-visible {
        border: solid 1px rgba(255, 255, 255, 0.8);
        outline: none;
    }

    select {
        background: none;
        padding: 12px 24px;
        border: solid 1px rgba(255, 255, 255, 0.4);
        border-radius: 4px;
    }

    select:hover,
    select:focus-visible {
        border: solid 1px rgba(255, 255, 255, 0.8);
        outline: none;
    }

    select {
        padding: 8px 40px 8px 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/icon-arrowDown.svg) no-repeat right 18px center;
    }

    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }

    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #fff;
        width: 100%;
        min-width: 220px;
        height: 40px;
        margin: 6px 0;
    }

    .select-styled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 1px rgba(255, 255, 255, 0.4);
        border-radius: 4px;
        padding: 8px 15px;
        transition: 0.2s ease-in;
    }

    .select-styled:after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;
    }

    .select-styled:hover {
        border: solid 1px rgba(255, 255, 255, 0.8);
    }

    .select-styled:active:after,
    .select-styled.active:after {
        top: 9px;
        border-color: transparent transparent #fff transparent;
    }

    .select-options {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #292929;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-top: none;
    }

    .select-options li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        transition: 0.15s ease-in;
    }

    .select-options li:hover,
    .select-options li.is-selected {
        background: #474747;
    }

    .select-options li[rel=hide] {
        display: none;
    }

    .drop {
        position: relative;
        display: block;
        font-size: 1em;
        width: 100%;
        min-width: 220px;
        margin: 6px 0;
    }

    .drop:hover .dropOption,
    .drop:focus-visible .dropOption {
        display: block;
        border-color: #fff;
    }

    .drop:hover .dropDown,
    .drop:focus-visible .dropDown {
        display: block;
    }

    .drop:hover .dropDown.close,
    .drop:focus-visible .dropDown.close {
        display: none;
    }

    .drop .dropOption {
        position: relative;
        width: auto;
        color: #fff;
        padding: 8px 40px 8px 15px;
        border: 1px solid #888;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .drop .dropOption::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 12px;
        border-width: 8px 6px;
        border-style: solid;
        border-color: #999 transparent transparent transparent;
    }

    .drop .dropDown {
        display: none;
        width: 100%;
        max-height: 350px;
        position: absolute;
        padding: 0;
        margin: 0;
        background-color: #292929;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-top: none;
        box-sizing: border-box;
        overflow: auto;
        z-index: 10;
    }

    .drop .dropDown>li {
        display: block;
        color: #fff;
        padding: 12px 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }

    .drop .dropDown>li:last-child {
        border-bottom: none;
    }

    .drop .dropDown>li:hover {
        background-color: #474747;
    }

    .drop .dropDown::-webkit-scrollbar {
        width: 15px;
    }

    .drop .dropDown::-webkit-scrollbar-track {
        background-color: #eee;
        border-radius: 6px;
    }

    .drop .dropDown::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 15px;
    }

    .drop .dropDown::-webkit-scrollbar-button {
        background-color: #f9f9f9;
    }

    input[type=search] {
        padding: 5px 5px 5px 5px;
        transition: 0.3s;
        border-style: none;
    }

    .radioGrp,
    .checkGrp {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5em 0;
    }

    .radioGrp>label,
    .checkGrp>label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-right: 24px;
        word-break: keep-all;
    }

    .radioGrp>label input[type=radio],
    .radioGrp>label input[type=checkbox],
    .checkGrp>label input[type=radio],
    .checkGrp>label input[type=checkbox] {
        width: 24px;
        height: 24px;
        margin-right: 6px;
    }

    .necessary {
        font-size: 0.875rem;
        color: #222;
        padding: 1px 6px;
        border-radius: 2px;
        margin: 0 6px 0 0;
        background: #F4EA5A;
    }

    ._hide {
        display: none;
    }

    header {
        position: fixed;
        z-index: 1000;
        width: 390px;
        /* background: #121212; */
        background: #383838;
    }

    header .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .headerlogo {
        display: flex;
        text-align: center;
        margin-left: 0.2em;
    }

    .headerlogo .logoicon {
        background: url(../images/logo.svg) no-repeat;
        background-size: contain;
        width: 46px;
        height: 46px;
    }

    .headerlogo span {
        font-size: 1.5em;
        color: white;
        padding-left: 0.5em;
    }

    /* header a h1 {
        color: #fff;
        margin-bottom: 10px;
    }

    header a h1:hover,
    header a h1:focus-visible {
        color: #F4EA5A;
    }

    header h1 {
        padding-left: 330px;
        background: url(../images/logo.svg) left 50% no-repeat;
        background-size: contain;
        height: 52px;
        font-size: 1.65em;
        letter-spacing: 3px;
        font-weight: normal;
        display: flex;
        align-items: flex-end;
    } */

    header .menu {
        display: flex;
        width: 100%;
        justify-content: center;
        opacity: 1;
        position: relative;
    }

    header .menu a {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.125em;
        color: #fff;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        /* transition: 0.3s; */
    }

    header .menu a .icon {
        display: block;
        width: 32px;
        height: 32px;
        margin-bottom: 5px;
        background-size: cover;
    }

    header .menu a .icon._hot {
        background: url(../images/menu-hot.png) left top no-repeat;
        background-size: cover;
    }

    header .menu a .icon._new {
        background: url(../images/menu-new.png) left top no-repeat;
        background-size: cover;
    }

    header .menu a .icon._chart {
        background: url(../images/menu-chart.png) left top no-repeat;
        background-size: cover;
    }

    header .menu a .icon._member {
        background: url(../images/menu-member.png) left top no-repeat;
        background-size: cover;
    }

    header .menu a:hover {
        background: #464646;
    }

    header .menu a:hover .icon._hot,
    header .menu a:hover .icon._new,
    header .menu a:hover .icon._chart,
    header .menu a:hover .icon._member {
        background-position: left bottom;
    }

    header .menu a.act {
        position: relative;
    }

    header .menu a.act .icon._hot {
        background: url(../images/menu-hot-blue.png) left top no-repeat;
        background-size: cover;
    }

    header .menu a.act .icon._new {
        background: url(../images/menu-new-blue.png) left top no-repeat;
        background-size: cover;
    }

    /* header .menu a.act .icon._hot,
    header .menu a.act .icon._new,
    header .menu a.act .icon._chart,
    header .menu a.act .icon._member {
        background-position: left bottom;
    } */

    /* header .menu a.act:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: #F4EA5A;
    } */

    /* @media (max-width: 992px) {
        header .container {
            flex-wrap: wrap;
            min-height: 50px;
        }

        header h1 {
            height: 40px;
            margin-top: 10px;
            margin-bottom: 0;
            padding-left: 254px;
            font-size: 90%;
        }

        header .menu {
            width: 100%;
            font-size: 0;
            justify-content: center;
            opacity: 1;
            position: relative;
        }

        header .menu.hide {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        header .menu a {
            height: 70px;
            flex: 1 1 auto;
        }
    } */

    /* @media (max-width: 576px) {
        header h1 {
            padding-left: 80px;
            background: url(../images/logo_mobile.svg) left 50% no-repeat;
        }
    } */

    .main {
        overflow-x: hidden;
    }

    .main .container {
        padding-top: calc(90px + 1em);
        /* padding-bottom: 4em; */
    }

    /* @media (max-width: 992px) {
        .main .container {
            padding-top: calc(90px + 2em);
        }
    } */

    .detail {
        overflow-x: hidden;
    }

    .detail .container {
        padding-top: calc(15px + 1em);
        padding-bottom: 4em;
    }

    @media (max-width: 992px) {
        .detail .container {
            padding-top: calc(15px + 2em);
        }
    }

    .embadeZone {
        text-align: center;
    }

    .embadeZone iframe {
        width: 450px;
        height: 300px;
    }

    @media (max-width: 576px) {
        .embadeZone iframe {
            width: 320px;
        }
    }

    .mobileSearchBtn {
        position: fixed;
        z-index: 1001;
        right: 10px;
        top: 5px;
        font-size: 0;
        width: 52px;
        height: 52px;
        border: none;
        background: url(../images/icon-search.svg) 50% 50% no-repeat;
        background-size: 46px 46px;
        display: none;
    }

    .mobileSearchBtn:hover,
    .mobileSearchBtn:focus-visible {
        background: url(../images/icon-search-hover.svg) 50% 50% no-repeat;
        background-size: 46px 46px;
    }

    @media (max-width: 992px) {
        .mobileSearchBtn {
            display: block;
        }
    }

    /* .mobileShow {
        position: fixed;
        z-index: 1001;
        width: 100%;
        height: 100vh;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        top: 50px;
        display: none;
        transition: 0.3s;
    }

    .mobileShow .site-search {
        display: block;
        max-width: none;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.75);
        margin: 0 auto;
        text-align: center;
    }

    .mobileShow .site-search input {
        width: 70%;
        margin-top: calc(50vh - 50px);
        border-color: #fff;
    }

    .mobileShow .site-search button.submit {
        right: calc(15% - 39px);
        top: calc(50vh - 49px);
    }

    .mobileShow.act {
        display: block;
    } */

    .flexible {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .col_2,
    .col_3,
    .col_39,
    .col_48 {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .col_50 {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .col_2>.col,
    .col_3>.col,
    .col_39>.col,
    .col_48>.col {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    .col_2>.col .col,
    .col_3>.col .col,
    .col_39>.col .col,
    .col_48>.col .col {
        margin-top: 0;
        margin-bottom: 0;
    }

    .flexible,
    .col_2,
    .col_39,
    .col_48 {
        justify-content: space-between;
    }

    .col_2>.col {
        flex: 0 0 49.5%;
        max-width: 49.5%;
    }

    @media (max-width: 992px) {
        .col_2>.col {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .col_3>.col {
        flex: 0 0 32.666%;
        max-width: 32.666%;
    }

    .col_3>.col:nth-child(3n+2) {
        margin-left: 1%;
        margin-right: 1%;
    }

    @media (max-width: 992px) {
        .col_3 {
            justify-content: space-between;
        }

        .col_3>.col {
            flex: 0 0 49%;
            max-width: 49%;
        }

        .col_3>.col:nth-child(3n+2) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media (max-width: 992px) {
        .col_3>.col {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .col_50>.col:first-child {
        flex: 0 0 20%;
        min-width: 60px;
        max-width: 60px;
    }

    .col_39>.col:first-child {
        flex: 0 0 20%;
        min-width: 60px;
        max-width: 60px;
    }

    .col_39>.col:last-child {
        flex: 0 1 auto;
        max-width: calc(100% - 60px - 0.5em);
    }

    .col_48>.col:first-child {
        flex: 0 0 30%;
    }

    .col_48>.col:last-child {
        flex: 0 1 100%;
        max-width: calc(70% - 20px);
    }

    .col_48>.col .col_48 {
        flex-wrap: nowrap;
    }

    .col_48>.col .col_48>.col:first-child {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
        height: 100px;
    }

    .col_48>.col .col_48>.col:last-child {
        max-width: initial;
        padding-left: 16px;
    }

    @media (max-width: 1200px) {

        .col_48>.col:first-child,
        .col_48>.col:last-child {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .card {
        /* background: #383838; */
        background: black;
        padding: 0.5em 0.5em;
        margin: 0.5em 0;
        z-index: 0;
    }

    .card a {
        display: block;
        color: #fff;
    }

    .card>a {
        /* padding: 0.5em 0.2em;
        margin: -0.5em -1em; */
        border-radius: 8px;
        box-shadow: 0 0 0 2px transparent;
        transition: 0.3s;
    }

    .card>a:hover,
    .card>a:focus-visible {
        box-shadow: 0 0 0 2px #686868;
    }

    .card>.flexible,
    .card>a>.flexible {
        font-size: 75%;
        /* margin-bottom: 0.5em; */
        word-break: break-all;
    }

    .card>.flexible a,
    .card>a>.flexible a {
        color: #fff;
        opacity: 0.6;
        transition: 0.3s;
    }

    .card>.flexible a:hover,
    .card>.flexible a:focus-visible,
    .card>a>.flexible a:hover,
    .card>a>.flexible a:focus-visible {
        opacity: 1;
    }

    .card .dataDefine,
    /* .card .state, */
    .card .share {
        display: flex;
        align-items: center;
    }

    .card .function {
        margin: 0;
    }

    .card .function .socialMedia {
        background: transparent;
        padding: 4px 0;
        border-radius: 15px;
        width: 0;
        transition: 0.3s;
    }

    .card .function .socialMedia a {
        display: block;
        margin: 0 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    .card .function .socialMedia.Show {
        padding: 4px;
        background: #222;
        width: auto;
    }

    @media (max-width: 768px) {
        .card .function {
            flex-wrap: nowrap;
        }

        .card .function>* {
            margin-bottom: 0;
        }
    }

    .card .dataDefine .num {
        color: #fff;
        box-shadow: inset 0 0 0 1px #fff;
        padding: 2px 10px;
        border-radius: 15px;
        margin-right: 4px;
    }

    .card .dataDefine img {
        width: 19px;
        height: 19px;
        margin: 0 2px;
    }

    .card .dataDefine .tip {
        padding-left: 22px;
        margin-left: 4px;
        background: url(../images/icon-alert.svg) left 50% no-repeat;
        background-size: 20px 20px;
    }

    /* .card .state {
        padding-left: 22px;
        background: url(../images/icon-state.png) left 50% no-repeat;
        background-size: 20px 20px;
    }

    .card .state.red,
    .card .state.green,
    .card .state.yellow {
        font-weight: bold;
    }

    .card .state.red {
        color: red;
        background: url(../images/icon-state_red.svg) left 50% no-repeat;
        background-size: 20px 20px;
    }

    .card .state.yellow {
        color: yellow;
        background: url(../images/icon-state_yellow.svg) left 50% no-repeat;
        background-size: 20px 20px;
    }

    .card .state.green {
        color: #2fbe08;
        background: url(../images/icon-state_green.svg) left 50% no-repeat;
        background-size: 20px 20px;
    } */

    .card button.share,
    .card .share {
        padding: 4px 12px 4px 32px;
        background: url(../images/icon-share.svg) 10px 50% no-repeat transparent;
        background-size: 20px 20px;
        border-radius: 15px;
        border: none;
        transition: 0.3s;
    }

    .card button.share:hover,
    .card button.share:focus-visible,
    .card .share:hover,
    .card .share:focus-visible {
        background: url(../images/icon-share.svg) 10px 50% no-repeat #222;
        background-size: 20px 20px;
    }

    .card .duplicate {
        padding: 4px 12px 4px 32px;
        background: url(../images/icon-duplicate.svg) 10px 50% no-repeat transparent;
        background-size: 20px 20px;
        border-radius: 15px;
        border: none;
        transition: 0.3s;
    }

    .card .duplicate:hover,
    .card .duplicate:focus-visible {
        background: url(../images/icon-duplicate.svg) 10px 50% no-repeat #222;
        background-size: 20px 20px;
    }

    .card .foto {
        width: 80px;
        height: 80px;
        overflow: hidden;
    }

    .card .foto img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .card .info {
        width: calc(100% - 60px - 0.5em);
        margin-left: 0.5em;
    }

    .card .info a {
        color: #fff;
    }

    .card .info p {
        font-size: 90%;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin: 4px 0 2px;
    }

    .card .info ul {
        list-style: none;
    }

    .card .info ul li {
        line-height: 1.55;
        display: flex;
        align-items: center;
    }

    .card .info ul li span {
        color: #F4EA5A;
    }

    .card .info ul li img {
        width: 20px;
        margin: 0 2px;
    }

    .card .info .flexible a,
    .card .info .flexible span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card .info .frequency {
        /* opacity: 0.6; */
        font-size: 80%;
        white-space: nowrap;
        padding-left: 8px;
        align-self: center;
    }

    .card .info .info_bottom {
        display: flex;
    }

    .card .info .info_bottom>:last-child {
        margin-left: auto;
        text-wrap: nowrap;
    }

    .card .info .warn {
        color: red;
    }

    .card .info .actnotice {
        color: yellow;
    }

    .card .info .greeninfo {
        color: green;
    }

    .card .col_48+.flexible {
        margin: 10px 0 0;
    }

    .card.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card.inline h4 {
        margin: 0;
    }

    .card>b {
        color: #F4EA5A;
        font-size: 3em;
    }

    .card h4 {
        font-size: 1.5em;
        margin: 1em 0;
    }

    .card h4 b {
        padding: 0 4px;
        color: #F4EA5A;
    }

    .card p.data {
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card p.data>span {
        color: #222;
        background: #F4EA5A;
        font-size: 50%;
        height: 90px;
        width: 90px;
        line-height: 90px;
        min-width: 90px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        margin-right: 16px;
    }

    .card p.data b span {
        color: #F4EA5A;
    }

    .card p.data b span:last-child {
        color: #fff;
    }

    @media (max-width: 768px) {
        .card p.data {
            font-size: 2.75em;
            flex-direction: column;
        }

        .card p.data>span {
            margin-right: 0;
        }
    }

    .card._narrow {
        padding: 1.5em 3em;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    @media (max-width: 768px) {
        .card._narrow {
            padding: 1.5em 2em;
        }
    }

    .card._mixed h4 {
        margin: 0;
    }

    .card._mixed .flexible {
        padding: 0;
        font-size: 90%;
        margin-bottom: 0;
    }

    .card._mixed .flexible span {
        letter-spacing: 1px;
    }

    .card._mixed p.data {
        justify-content: flex-end;
        margin: 0;
        font-size: 1.25em;
    }

    .card._mixed p.data>span {
        font-size: 75%;
        height: 22px;
        width: 60px;
        min-width: 60px;
        line-height: normal;
        margin-right: 2px;
        border-radius: 0;
        background: none;
        position: relative;
    }

    .card._mixed p.data>span:before {
        content: "";
        position: absolute;
        isolation: isolate;
        width: 50px;
        height: 50px;
        background: #F4EA5A;
        border-radius: 50%;
        left: 5px;
        top: -14px;
        z-index: -1;
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading svg {
        margin: 40px;
        display: inline-block;
    }

    .spinner {
        animation: rotator 1.4s linear infinite;
    }

    @keyframes rotator {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(270deg);
        }
    }

    .path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    }

    @keyframes colors {
        0% {
            stroke: #4285F4;
        }

        25% {
            stroke: #DE3E35;
        }

        50% {
            stroke: #F7C223;
        }

        75% {
            stroke: #1B9A59;
        }

        100% {
            stroke: #4285F4;
        }
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: 187;
        }

        50% {
            stroke-dashoffset: 46.75;
            transform: rotate(135deg);
        }

        100% {
            stroke-dashoffset: 187;
            transform: rotate(450deg);
        }
    }

    .p_shift {
        display: flex;
        margin: 1em 0;
    }

    .p_shift a {
        display: block;
        padding: 7px 20px 7px 42px;
        margin: 0 2px;
        border-radius: 20px;
        transition: 0.3s;
    }

    .p_shift a:hover,
    .p_shift a:focus-visible {
        color: #222;
    }

    .p_shift a.back {
        background: url(../images/icon-back-y.svg) 20px 50% no-repeat rgba(255, 255, 255, 0.1254901961);
        background-size: 16px 16px;
    }

    .p_shift a.back:hover,
    .p_shift a.back:focus-visible {
        background: url(../images/icon-back.svg) 16px 50% no-repeat #F4EA5A;
        background-size: 16px 16px;
    }

    .function {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em 0;
    }

    .function>* {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .function .filter {
        display: block;
    }

    .function .tags {
        margin-left: 10px;
        display: flex;
        gap: 6px;
    }

    .function .tags a {
        color: #fff;
        border: 1px solid #fff;
        padding: 6px 20px;
        word-break: keep-all;
        border-radius: 20px;
        margin: auto 1px;
        opacity: 0.4;
        transition: 0.3s;
    }

    .function .tags a:hover,
    .function .tags a:focus-visible,
    .function .tags a.act {
        opacity: 1;
    }

    @media (max-width: 768px) {
        .function {
            flex-wrap: wrap;
            justify-content: center;
        }

        .function>* {
            margin-bottom: 16px;
            justify-content: center;
            width: 100%;
        }

        .function select {
            width: 100%;
        }
    }

    .search {
        display: flex;
        background: black;
        color: white;
        padding: 0.2em 0.2em;
        margin: 0.5em 0;
    }

    .searchicon {
        width: 24px;
        height: 24px;
        border: none;
        background: url(../images/icon-search.png) no-repeat transparent;
        background-size: 20px 20px;
        margin-top: 0.2em;
        margin-left: 0.2em;
    }

    .searchinput {
        width: 500px;
    }

    .site-search {
        display: flex;
        align-items: center;
        position: relative;
        margin: 1em auto;
    }

    /* .site-search button.submit {
        font-size: 0;
        width: 50px;
        height: 50px;
        border: none;
        background: url(../images/icon-search.png) 50% 50% no-repeat transparent;
        background-size: 36px 36px;
        position: absolute;
        right: 1px;
        border-radius: 0 3px 3px 0;
        transition: 0.3s;
    }

    .site-search button.submit:hover,
    .site-search button.submit:focus-visible {
        background: url(../images/icon-search.png) 50% 50% no-repeat #464646;
        background-size: 36px 36px;
    } */

    @media (max-width: 992px) {
        .site-search {
            display: none;
        }
    }

    .user {
        padding-top: 2em;
    }

    .user h3.phoneNum {
        font-size: 2.25em;
        color: #F4EA5A;
        display: flex;
        align-items: center;
    }

    .user .tip {
        font-size: 1.125em;
        padding: 0.5em 0 1em;
    }

    .user ._setting {
        font-size: 0;
        width: 38px;
        height: 38px;
        background: url(../images/icon-setting.svg) left top no-repeat;
        background-size: cover;
        margin-left: 6px;
    }

    .user ._setting:hover,
    .user ._setting:focus-visible {
        background-position: left bottom;
    }

    .article {
        letter-spacing: 1px;
    }

    .article>hr {
        display: none;
    }

    .article h3 {
        margin: 2em 0 0.2em;
    }

    .article p {
        line-height: 2;
    }

    .article ol,
    .article ul {
        margin: 1em 0 1em 1em;
        opacity: 0.6;
    }

    .article ol li,
    .article ul li {
        margin: 10px 0;
        display: flex;
        position: relative;
    }

    .article ol li:before,
    .article ul li:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #fff;
        border-radius: 50%;
        left: -12px;
        top: 8px;
    }

    .article ol li time,
    .article ul li time {
        margin-right: 8px;
        min-width: 156px;
    }

    @media (max-width: 1200px) {
        .article>hr {
            display: block;
        }
    }

    .mask {
        height: 440px;
        padding-bottom: 2em;
        overflow: hidden;
        position: relative;
    }

    .mask .btn {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 2;
        transform: translateX(-50%);
    }

    .mask:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 55px;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        background-image: linear-gradient(180deg, rgba(41, 41, 41, 0) -3% -3%, rgb(41, 41, 41) 98% 98%);
    }

    .mask.hide:after {
        display: none;
    }

    .mask._show {
        height: initial;
    }

    .mask._show .btn {
        position: inherit;
    }

    .mask._show:after {
        height: 0;
    }
}

/*# sourceMappingURL=style.css.map */